<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mobile_claw">

  <xacro:arg name="mesh_file" default="/home/ricardo/80.obj" />

  <link name="model_link">
    <static>true</static>
      <inertial>
        <mass value="3.5"/>
        <!--<origin xyz="-0.025 0 -0.223"/>-->
        <origin xyz="0 0 0"/>
        <inertia ixx="1" ixy="0" ixz="0"
           iyy="1" iyz="0"
           izz="1"/>
      </inertial>
      <visual>
        <geometry>
          <!-- The path to the visual meshes in the package. -->
          <mesh filename="$(arg mesh_file)"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <!-- The path to the collision meshes in the package. -->
          <mesh filename="$(arg mesh_file)"/>
        </geometry>
      </collision>
    </link>

  <link name="world" />
  <joint name="world_joint"  type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="world"/>
      <child link="model_link"/>
  </joint>

</robot>
